# URL DO WEB APP
API_URL=""

# Chaves e Credenciais
SECRET_KEY="SUA_CHAVE_AQUI"
MASTER_LOGIN="seu_usuario"
MASTER_CARGO="ADMIN"
MASTER_PASS="sua_senha"

# Senha Hash
MASTER_PASS_HASH="seu_hash_aqui"
----

