.btn-light:hover { background-color: #f8f9fa; }
.badge { font-weight: 500; font-size: 0.7rem; }
.table thead th { border-bottom: 2px solid #f8f9fa !important; }
.fw-medium { font-weight: 500; }

/* Efeito de Loop para o botão de Sincronizar */
.spinner-rotate {
    animation: rotation 1s infinite linear;
    display: inline-block;
}
@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}