@keyframes spin { 100% { transform: rotate(360deg); } }
.spinner-rotate { animation: spin 1s linear infinite; display: inline-block; }
.spinner-rotate {
    display: inline-block !important;
    animation: rotation 1s infinite linear !important;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}