/* Container das abas */
#adminTabs { list-style: none !important; padding: 0 !important; margin: 0 !important; display: flex !important; border: none !important; gap: 20px; }

.btn-tab-custom {
    color: #999 !important; background: transparent !important; border: none !important;
    border-bottom: 2px solid transparent !important; padding: 0 0 5px 0 !important;
    font-weight: 400 !important; cursor: pointer; transition: 0.2s;
}

#admin-list td {
    font-weight: 400 !important; /* Força peso normal */
    font-size: 0.75rem !important;
}

.btn-tab-custom:hover, .btn-tab-custom.active { color: #FF0000 !important; border-bottom: 2px solid #FF0000 !important; }

/* --- AQUI A CORREÇÃO: FONTE NÃO BOLD --- */
#admin-list td {
    font-size: 0.75rem !important;
    font-weight: 400 !important; /* Normal, não bold */
    color: #333 !important;
}

.input-error {
    border: 2px solid #dc3545 !important;
    background-color: #fff8f8 !important;
}

.spinner-rotate { display: inline-block; animation: rotate 1s linear infinite; }
@keyframes rotate { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }